# ./.github/dependabot.yml
# See: https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:

  - package-ecosystem: github-actions
    directories:
      - "/.github/workflows"
    schedule:
      interval: "monthly"
    labels:
      - dependencies
      - automated
      - automerge
