build/
coverage/
exports/
node_modules/
target/
cdk.out/
.*
*.env
*.md
*.sh
LICENSE
eslint.config.js
eslint-txt.config.js
jsconfig.json
package.json
package-lock.json
pom.xml
prettier.config.js
app/index.js/exports/
/cdk/cdk.out/
