version = "1.1.0"

[[bundles]]
id = "default"
name = "Default"
allocation = "automatic"

# Access to Sandbox APIs for testing
[[bundles]]
id = "test"
name = "Test (2 hours)"
allocation = "on-request"
cap = 10
timeout = "P2H"
# TODO: Filter so that this bundle only appears in the add bundle page in listed environments
listedInEnvironments = ["local", "test", "proxy", "proxyRunning", "ci"]

# Access to free authenticated activities including VAT submission for a limited time
[[bundles]]
id = "guest"
name = "Guest (10 minutes)"
allocation = "on-request"
cap = 10
timeout = "P10M"
# TODO: 1 day timeout for visiblility, then a grace period for apis of 1 day.

# TODO: Link active subscriptions to a bundle entitlement and continually re-validate.
# Access to business tier activities including VAT submission for subscribers
[[bundles]]
id = "business"
name = "Business"
allocation = "subscription"
cap = 100
listedInEnvironments = ["local", "test", "proxy", "proxyRunning", "ci"]
subscriptionTier = "business"

# TODO: Grant the DIY Legacy bundle upon supply of a PayPal Transaction ID for a payment to one of the email addresses in 2025 or earlier
#[[bundles]]
#id = "diylegacy"
#name = "DIY Legacy (existing 2025 customers)"
#allocation = "transaction-id"
#cap = 10
#timeout = "P1Y"
#listedInEnvironments = ["ci"]
#grantedWithTransactionIdFor = ["terrycartwright@hotmail.com", "admin@diyaccounting.co.uk"]

[[activities]]
id = "bundle"
name = "View and edit your bundles"
bundles = ["default"]
paths = ["account/bundles.html", "^/api/v1/catalogue.*", "^/api/v1/bundle.*"]

[[activities]]
id = "submit-vat-sandbox"
name = "Submit VAT (HMRC Sandbox)"
bundles = ["test"]
paths = ["hmrc/vat/submitVat.html?hmrcAccount=sandbox", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "vat-obligations-sandbox"
name = "VAT Obligations (HMRC Sandbox)"
bundles = ["test"]
paths = ["hmrc/vat/vatObligations.html?hmrcAccount=sandbox", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "view-vat-return-sandbox"
name = "View VAT Return (HMRC Sandbox)"
bundles = ["test"]
paths = ["hmrc/vat/viewVatReturn.html?hmrcAccount=sandbox", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "submit-vat"
name = "Submit VAT"
bundles = ["guest", "business", "diylegacy"]
path = ["hmrc/vat/submitVat.html", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "vat-obligations"
name = "VAT Obligations"
bundles = ["guest", "business", "diylegacy"]
paths = ["hmrc/vat/vatObligations.html", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "view-vat-return"
name = "View VAT Return"
bundles = ["guest", "business", "diylegacy"]
paths = ["hmrc/vat/viewVatReturn.html", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "my-receipts"
name = "View previously submitted receipts"
bundles = ["default"]
paths = ["hmrc/receipt/receipts.html", "^/api/v1/hmrc/receipt.*"]
