version = "1.1.0"

[[bundles]]
id = "default"
name = "Default"
display = "never"
allocation = "automatic"

# Access to Sandbox APIs for testing
[[bundles]]
id = "test"
name = "Test"
display = "on-pass"
# on-pass
# =======
# Hide until a pass has been accecpted, once we have implemented pass generation and acceptance via a form.
# 1. Generate and persist passes
# 2. Test pass validity via API
# 3. Add pass validation to the bundle.html as what 3 words populated by typing, or from a url opening bundles.html
allocation = "on-request"
timeout = "P1D"

# Access to free authenticated activities including VAT submission for a limited time
[[bundles]]
id = "day-guest"
name = "Day Guest"
display = "always"
allocation = "on-request"
cap = 1
timeout = "P1D"
listedInEnvironments = ["local", "test", "proxy", "proxyRunning", "ci"]
# listedInEnvironments
# ====================
# Hidden in production until there are production credentials
tokensGranted = 3
# tokensGranted
# =============
# Number of HMRC API tokens allocated with this bundle
# The tokens are credited to the user and expire after the period matching the timeout
# Activities such as submitting VAT returns consume 1 token
# There us a user token activity counter shown in the UI
# GET /api/v1/users/

# Access to free authenticated activities including VAT submission for users with a pass
[[bundles]]
id = "invited-guest"
name = "Invited Guest"
display = "on-pass"
allocation = "on-request"
timeout = "P1M"
tokensGranted = 3
tokenRefreshInterval = "P1M"
# tokenRefreshInterval
# ====================
# Interval after which tokens are replenished to the users account


# TODO: Link active subscriptions to a bundle entitlement and continually re-set expiry to now+timeout if there is an active subscription
# Access to business tier activities including VAT submission for subscribers
# TODO: rename "Pro"
#[[bundles]]
#id = "business"
#name = "Business"
#allocation = "subscription"
#cap = 100
#timeout = "P1M"
#listedInEnvironments = ["local", "test", "proxy", "proxyRunning", "ci"]
#subscriptionTier = "business"

# TODO: Grant the DIY Legacy bundle upon supply of a PayPal Transaction ID for a payment to one of the email addresses in 2025 or earlier
#[[bundles]]
#id = "diylegacy"
#name = "DIY Legacy (existing 2025 customers)"
#allocation = "transaction-id"
#cap = 10
#timeout = "P1Y"
#listedInEnvironments = ["ci"]
#grantedWithTransactionIdFor = ["terrycartwright@hotmail.com", "admin@diyaccounting.co.uk"]

[[activities]]
id = "bundle"
name = "View and edit your bundles"
display = "never"
bundles = ["default"]
paths = ["bundles.html", "^/api/v1/catalog.*", "^/api/v1/bundle.*"]

[[activities]]
id = "submit-vat-sandbox"
name = "Submit VAT (HMRC Sandbox)"
display = "on-entitlement"
bundles = ["test"]
paths = ["hmrc/vat/submitVat.html?hmrcAccount=sandbox", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "vat-obligations-sandbox"
name = "VAT Obligations (HMRC Sandbox)"
display = "on-entitlement"
bundles = ["test"]
paths = ["hmrc/vat/vatObligations.html?hmrcAccount=sandbox", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "view-vat-return-sandbox"
name = "View VAT Return (HMRC Sandbox)"
display = "on-entitlement"
bundles = ["test"]
paths = ["hmrc/vat/viewVatReturn.html?hmrcAccount=sandbox", "^/api/v1/hmrc/vat.*"]

# display: always-with-upsell shows upsell prompt if not entitled
[[activities]]
id = "submit-vat"
name = "Submit VAT (HMRC)"
display = "always-with-upsell"
bundles = ["guest", "business", "diylegacy"]
paths = ["hmrc/vat/submitVat.html", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "vat-obligations"
name = "VAT Obligations (HMRC)"
display = "always-with-upsell"
bundles = ["guest", "business", "diylegacy"]
paths = ["hmrc/vat/vatObligations.html", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "view-vat-return"
name = "View VAT Return (HMRC)"
display = "always-with-upsell"
bundles = ["guest", "business", "diylegacy"]
paths = ["hmrc/vat/viewVatReturn.html", "^/api/v1/hmrc/vat.*"]

[[activities]]
id = "my-receipts"
name = "View previously submitted receipts"
display = "on-entitlement"
bundles = ["default"]
paths = ["hmrc/receipt/receipts.html", "^/api/v1/hmrc/receipt.*"]

[[activities]]
id = "help"
name = "Learn about DIY Accounting Submit"
display = "always"
bundles = ["default"]
paths = ["about.html"]
