# .github/workflows/copilot-setup-steps.yml

name: copilot-setup-steps

on:
  push:
    branches:
      - '**'
      - '!gh_pages'
    paths:
      - '.github/workflows/copilot-setup-steps.yml'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest
    environment: copilot
    permissions:
      id-token: write
      contents: read
    steps:

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.SUBMIT_ACTIONS_ROLE_ARN }}
          role-chaining: false
          aws-region: eu-west-2
          audience: sts.amazonaws.com
          role-skip-session-tagging: true
          output-credentials: true
          retry-max-attempts: 3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.SUBMIT_DEPLOY_ROLE_ARN }}
          role-chaining: true
          aws-region: eu-west-2
          audience: sts.amazonaws.com
          role-skip-session-tagging: true
          output-credentials: true
          retry-max-attempts: 3

      - name: Install uv
        uses: astral-sh/setup-uv@v7
