name: deploy-stack
run-name: "deploy stack from ${{ github.ref_name }}"

on:
  workflow_dispatch:
    inputs:
      stackName:
        description: 'Stack name to deploy'
        required: true
      forceAllStackDeployment:
        description: 'Force re-deploy of all stacks even if they already exist or pass comparison checks'
        type: choice
        options:
          - 'true'
          - 'false'
        required: false
        default: 'false'
      environment-name:
        type: choice
        description: 'Environment name to use instead of computing from branch, e.g. ci or prod'
        required: false
        options:
          - ''
          - 'ci'
          - 'prod'
        default: ''
      deployment-name:
        type: string
        description: 'Deployment name to use instead of computing from branch, e.g. ci-lambdas6 or prod-ea373de'
        required: false
        default: ''
      loadTestDuration:
        description: 'Duration for load test (e.g. 30s, 10m, 1h)'
        required: false
        default: '30s'
      selfDestructDelayHours:
        description: 'Hours before self-destruct triggers for non-prod environments'
        required: false
        default: '8'
      java-version:
        description: 'Java version to use'
        required: false
        default: '21'
      node-version:
        description: 'Node version to use'
        required: false
        default: '22'
      actions-role-arn:
        description: 'AWS role ARN for GitHub Actions'
        required: false
        default: 'arn:aws:iam::887764105431:role/submit-github-actions-role'
      deploy-role-arn:
        description: 'AWS deployment role ARN'
        required: false
        default: 'arn:aws:iam::887764105431:role/submit-deployment-role'
      aws-region:
        description: 'AWS region'
        required: false
        default: 'eu-west-2'
      aws-account-id:
        description: 'AWS account ID'
        required: false
        default: '887764105431'
      aws-hosted-zone-id:
        description: 'AWS hosted zone ID'
        required: false
        default: 'Z0315522208PWZSSBI9AL'
      base-image-tag-prefix:
        description: 'Prefix for base image tag'
        required: false
        default: 'submit-base'
      base-image-tag:
        description: 'Base image tag to use'
        required: false
        default: ''
      self-destruct-start-datetime:
        description: 'Self-destruct start datetime'
        required: false
        default: ''
      http-api-url:
        description: 'HTTP API URL'
        required: false
        default: ''
      cognito-user-pool-arn:
        description: 'Cognito User Pool ARN'
        required: false
        default: ''
      cognito-client-id:
        description: 'Cognito Client ID'
        required: false
        default: ''

  workflow_call:
    inputs:
      stackName:
        type: string
        required: true
      forceAllStackDeployment:
        type: string
        required: true
      environment-name:
        type: string
        required: true
      deployment-name:
        type: string
        required: true
      loadTestDuration:
        type: string
        required: true
      selfDestructDelayHours:
        type: string
        required: true
      java-version:
        type: string
        required: true
      node-version:
        type: string
        required: true
      actions-role-arn:
        type: string
        required: true
      deploy-role-arn:
        type: string
        required: true
      aws-region:
        type: string
        required: true
      aws-account-id:
        type: string
        required: true
      aws-hosted-zone-id:
        type: string
        required: true
      base-image-tag-prefix:
        type: string
        required: true
      base-image-tag:
        type: string
        required: true
      self-destruct-start-datetime:
        type: string
        required: true
      http-api-url:
        type: string
        required: true
      cognito-user-pool-arn:
        type: string
        required: true
      cognito-client-id:
        type: string
        required: true

permissions:
  id-token: write
  contents: read
  pull-requests: read
  pages: write

env:
  GITHUB_ACTOR: ${{ github.actor }}
  COMMIT_HASH: ${{ github.sha }}
  BUILD_NUMBER: ${{ github.run_number }}
  GITHUB_REF: ${{ github.ref }}
  GITHUB_REF_TO_ENV: ${{ github.ref == 'refs/heads/main' && 'prod' || 'ci' }}

jobs:

  params:
    runs-on: ubuntu-24.04
    steps:
      - name: "github.event_name=[${{ github.event_name }}]"
        run: ":"
      - name: Normalise Params
        id: normalise
        shell: bash
        run: |
          echo "stackName=${{ inputs.stackName }}" | tee -a "$GITHUB_OUTPUT"
          echo "forceAllStackDeployment=${{ inputs.forceAllStackDeployment }}" | tee -a "$GITHUB_OUTPUT"
          echo "environment-name=${{ inputs.environment-name }}" | tee -a "$GITHUB_OUTPUT"
          echo "deployment-name=${{ inputs.deployment-name }}" | tee -a "$GITHUB_OUTPUT"
          echo "loadTestDuration=${{ inputs.loadTestDuration }}" | tee -a "$GITHUB_OUTPUT"
          echo "selfDestructDelayHours=${{ inputs.selfDestructDelayHours }}" | tee -a "$GITHUB_OUTPUT"
          echo "java-version=${{ inputs['java-version'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "node-version=${{ inputs['node-version'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "actions-role-arn=${{ inputs['actions-role-arn'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "deploy-role-arn=${{ inputs['deploy-role-arn'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "aws-region=${{ inputs['aws-region'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "aws-account-id=${{ inputs['aws-account-id'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "aws-hosted-zone-id=${{ inputs['aws-hosted-zone-id'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "base-image-tag-prefix=${{ inputs['base-image-tag-prefix'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "base-image-tag=${{ inputs['base-image-tag'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "self-destruct-start-datetime=${{ inputs['self-destruct-start-datetime'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "http-api-url=${{ inputs['http-api-url'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "cognito-user-pool-arn=${{ inputs['cognito-user-pool-arn'] }}" | tee -a "$GITHUB_OUTPUT"
          echo "cognito-client-id=${{ inputs['cognito-client-id'] }}" | tee -a "$GITHUB_OUTPUT"
    outputs:
      stackName: ${{ steps.normalise.outputs.stackName }}
      forceAllStackDeployment: ${{ steps.normalise.outputs.forceAllStackDeployment }}
      environment-name: ${{ steps.normalise.outputs.environment-name }}
      deployment-name: ${{ steps.normalise.outputs.deployment-name }}
      loadTestDuration: ${{ steps.normalise.outputs.loadTestDuration }}
      selfDestructDelayHours: ${{ steps.normalise.outputs.selfDestructDelayHours }}
      java-version: ${{ steps.normalise.outputs['java-version'] }}
      node-version: ${{ steps.normalise.outputs['node-version'] }}
      actions-role-arn: ${{ steps.normalise.outputs['actions-role-arn'] }}
      deploy-role-arn: ${{ steps.normalise.outputs['deploy-role-arn'] }}
      aws-region: ${{ steps.normalise.outputs['aws-region'] }}
      aws-account-id: ${{ steps.normalise.outputs['aws-account-id'] }}
      aws-hosted-zone-id: ${{ steps.normalise.outputs['aws-hosted-zone-id'] }}
      base-image-tag-prefix: ${{ steps.normalise.outputs['base-image-tag-prefix'] }}
      base-image-tag: ${{ steps.normalise.outputs['base-image-tag'] }}
      self-destruct-start-datetime: ${{ steps.normalise.outputs['self-destruct-start-datetime'] }}
      http-api-url: ${{ steps.normalise.outputs['http-api-url'] }}
      cognito-user-pool-arn: ${{ steps.normalise.outputs['cognito-user-pool-arn'] }}
      cognito-client-id: ${{ steps.normalise.outputs['cognito-client-id'] }}

  names:
    needs:
      - params
    runs-on: ubuntu-24.04
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'ci' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure AWS role via GitHub OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ needs.params.outputs['actions-role-arn'] }}
          aws-region: ${{ needs.params.outputs['aws-region'] }}
          role-chaining: false
          audience: sts.amazonaws.com
          role-skip-session-tagging: true
          output-credentials: true
          retry-max-attempts: 3

      - name: Assume AWS deployment role
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ needs.params.outputs['deploy-role-arn'] }}
          aws-region: ${{ needs.params.outputs['aws-region'] }}
          role-chaining: true
          audience: sts.amazonaws.com
          role-skip-session-tagging: true
          output-credentials: true
          retry-max-attempts: 3

      - name: If main, read back last known good prod deployment from SSM Parameter Store
        if: ${{ needs.params.outputs['deployment-name'] == '' && github.ref == 'refs/heads/main' }}
        run: |
          PARAMETER_NAME="/submit/prod/last-known-good-deployment"
          aws ssm get-parameter --name "$PARAMETER_NAME" --query "Parameter.Value" --output text | tee /tmp/last_known_good_deployment.txt
          echo "Last known good deployment: $(cat /tmp/last_known_good_deployment.txt)"

      - name: If not main, read back last known good ci deployment from SSM Parameter Store
        if: ${{ needs.params.outputs['deployment-name'] == '' && github.ref != 'refs/heads/main' }}
        run: |
          PARAMETER_NAME="/submit/ci/last-known-good-deployment"
          aws ssm get-parameter --name "$PARAMETER_NAME" --query "Parameter.Value" --output text | tee /tmp/last_known_good_deployment.txt
          echo "Last known good deployment: $(cat /tmp/last_known_good_deployment.txt)"

      - name: If last-known-good-deployment set use that otherwise use current deployment name
        id: deployment-name
        run: |
            if [ -s /tmp/last_known_good_deployment.txt ]; then
                echo "Using last known good deployment from SSM Parameter Store"
                echo "deployment-name=$(cat /tmp/last_known_good_deployment.txt)" | tee -a "$GITHUB_OUTPUT"
            else
                echo "No last known good deployment found, using current deployment name"
                echo "deployment-name=${{ needs.params.outputs['deployment-name'] }}" | tee -a "$GITHUB_OUTPUT"
            fi

      - name: Compute deployment name and environment
        id: deployment-config
        uses: './.github/actions/get-names'
        with:
          environment-name: ${{ needs.params.outputs['environment-name'] }}
          deployment-name: ${{ steps.deployment-name.outputs['deployment-name'] }}
    outputs:
      environment-name: ${{ steps.deployment-config.outputs.environment-name }}
      deployment-name: ${{ steps.deployment-name.outputs.deployment-name }}
      base-domain: ${{ steps.deployment-config.outputs.base-domain }}
      base-url:      ${{ steps.deployment-config.outputs.base-url }}
      apex-domain: ${{ steps.deployment-config.outputs.apex-domain }}
      apex-url: ${{ steps.deployment-config.outputs.apex-url }}
      holding-domain: ${{ steps.deployment-config.outputs.holding-domain }}
      holding-url: ${{ steps.deployment-config.outputs.holding-url }}

  deploy-stack:
    name: 'deploy ${{ needs.params.outputs.stackName }}'
    needs:
      - params
      - names
    runs-on: ubuntu-24.04
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'ci' }}
    steps:

      - name: Configure AWS role via GitHub OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ needs.params.outputs['actions-role-arn'] }}
          aws-region: ${{ needs.params.outputs['aws-region'] }}
          role-chaining: false
          audience: sts.amazonaws.com
          role-skip-session-tagging: true
          output-credentials: true
          retry-max-attempts: 3

      - name: Assume AWS deployment role
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ needs.params.outputs['deploy-role-arn'] }}
          aws-region: ${{ needs.params.outputs['aws-region'] }}
          role-chaining: true
          audience: sts.amazonaws.com
          role-skip-session-tagging: true
          output-credentials: true
          retry-max-attempts: 3

      - name: Check if ${{ needs.params.outputs.stackName }} exists
        id: static-skip
        shell: bash
        run: |
          STACK_NAME="${{ needs.names.outputs.deployment-name }}-app-${{ needs.params.outputs.stackName }}"
          echo "Checking for existing COMPLETE stack: $STACK_NAME"
          COUNT=$(aws cloudformation list-stacks \
            --stack-status-filter CREATE_COMPLETE UPDATE_COMPLETE \
            --query "length(StackSummaries[?StackName=='${STACK_NAME}'])" \
            --output text)
          if [ "$COUNT" -ge 1 ]; then
            echo "skipStaticStackDeployment=true" >> "$GITHUB_OUTPUT"
          else
            echo "skipStaticStackDeployment=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Checkout
        if: ${{ needs.names.outputs.environment-name == 'prod' || needs.params.outputs.forceAllStackDeployment == 'true' || steps.static-skip.outputs.skipStaticStackDeployment != 'true' }}
        uses: actions/checkout@v6

      - name: Setup Node
        if: ${{ needs.names.outputs.environment-name == 'prod' || needs.params.outputs.forceAllStackDeployment == 'true' || steps.static-skip.outputs.skipStaticStackDeployment != 'true' }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ needs.params.outputs['node-version'] }}
          cache: 'npm'

      - name: Node dependencies
        if: ${{ needs.names.outputs.environment-name == 'prod' || needs.params.outputs.forceAllStackDeployment == 'true' || steps.static-skip.outputs.skipStaticStackDeployment != 'true' }}
        run: npm ci

      - uses: actions/setup-java@v5
        if: ${{ needs.names.outputs.environment-name == 'prod' || needs.params.outputs.forceAllStackDeployment == 'true' || steps.static-skip.outputs.skipStaticStackDeployment != 'true' }}
        with:
          distribution: 'temurin'
          java-version: ${{ needs.params.outputs['java-version'] }}
          cache: 'maven'

      - name: Deploy ${{ needs.params.outputs.stackName }} Stack (CDK)
        if: ${{ needs.names.outputs.environment-name == 'prod' || needs.params.outputs.forceAllStackDeployment == 'true' || steps.static-skip.outputs.skipStaticStackDeployment != 'true' }}
        run: |
          ./mvnw --errors clean verify -DskipTests -Dmaven.compiler.source=${{ needs.params.outputs['java-version'] }} -Dmaven.compiler.target=${{ needs.params.outputs['java-version'] }} \
            && cd cdk-application \
            && cat ../.env.${{ needs.names.outputs.environment-name }} \
            && npx dotenv -e ../.env.${{ needs.names.outputs.environment-name }} -- \
              npx cdk deploy \
                ${{ needs.names.outputs.deployment-name }}-app-${{ needs.params.outputs.stackName }} \
                --require-approval never \
                --ci true \
                --concurrency 4 \
                --asset-parallelism \
                --outputs-file ../cdk-submit-application.out/cdk-outputs-${{ needs.params.outputs.stackName }}.json \
            && cd .. \
          ;
        env:
          ENVIRONMENT_NAME: ${{ needs.names.outputs.environment-name }}
          DEPLOYMENT_NAME: ${{ needs.names.outputs.deployment-name }}
          COGNITO_USER_POOL_ARN: ${{ needs.params.outputs['cognito-user-pool-arn'] }}
          COGNITO_CLIENT_ID: ${{ needs.params.outputs['cognito-client-id'] }}
          BASE_IMAGE_TAG: ${{ needs.params.outputs['base-image-tag'] }}
          SELF_DESTRUCT_START_DATETIME: ${{ needs.params.outputs['self-destruct-start-datetime'] }}
          HMRC_CLIENT_SECRET_ARN: "arn:aws:secretsmanager:${{ needs.params.outputs['aws-region'] }}:${{ needs.params.outputs['aws-account-id'] }}:secret:${{ needs.names.outputs.environment-name }}/submit/hmrc/client_secret"
          HMRC_SANDBOX_CLIENT_SECRET_ARN: "arn:aws:secretsmanager:${{ needs.params.outputs['aws-region'] }}:${{ needs.params.outputs['aws-account-id'] }}:secret:${{ needs.names.outputs.environment-name }}/submit/hmrc/sandbox_client_secret"
          WEBSITE_HASH: "placeholder"
          HTTP_API_URL: ${{ needs.params.outputs['http-api-url'] }}
          DIY_SUBMIT_APEX_URL: ${{ needs.names.outputs.apex-url }}

      - run: cat cdk-submit-application.out/cdk-outputs-${{ needs.params.outputs.stackName }}.json | jq '.'
