name: synthetic-test
run-name: "synthetic test of ${{ github.ref_name }}"
concurrency:
  group: synthetic-test-${{ github.ref_name }}
  cancel-in-progress: false
  # TODO: Use the synthetic test like the to delegate the web tests to the synthetic test workflow

# bump 00

on:
  workflow_dispatch:
    inputs:
      environment-name:
        type: choice
        description: 'Environment name to use instead of computing from branch, e.g. ci or prod'
        required: false
        options:
          - ''
          - 'ci'
          - 'prod'
        default: ''
      behaviour-test-suite:
        type: choice
        description: 'Behaviour test to run'
        required: false
        options:
          - 'bundleBehaviour'
          - 'postVatReturnBehaviour'
          - 'obligationBehaviour'
          - 'getVatReturnBehaviour'
          - 'postVatReturnFPHBehaviour'
          - 'submitVatBehaviour'
          - 'authBehaviour'
          - 'behaviour'
        default: 'submitVatBehaviour'
  push:
    branches:
      - '**'
      - '!gh_pages'
      - '!dependabot/**'
    paths:
      - 'behaviour-tests/bundles.behaviour.test.js'
      - 'behaviour-tests/submitVat.behaviour.test.js'
      - '.github/workflows/synthetic-test.yml'
  schedule:
    # Check for cold starts over the hour using CloudWatch Logs Insights query:
    #   fields @timestamp, @message
    #   | sort @timestamp desc
    #   | filter @message like /REPORT/
    #   | filter @message like /Init Duration/
    - cron: '*/43 * * * *'

permissions:
  id-token: write
  contents: read

env:
  JAVA_VERSION: '21'
  NODE_VERSION: '22'
  ACTIONS_ROLE_ARN: 'arn:aws:iam::887764105431:role/submit-github-actions-role'
  DEPLOY_ROLE_ARN:  'arn:aws:iam::887764105431:role/submit-deployment-role'
  AWS_REGION: 'eu-west-2'
  AWS_ACCOUNT_ID: '887764105431'
  AWS_HOSTED_ZONE_ID: 'Z0315522208PWZSSBI9AL'

jobs:

  names:
    runs-on: ubuntu-24.04
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'ci' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Compute environment name and apex URL
        id: deployment-config
        uses: './.github/actions/get-names'
        with:
          environment-name: ${{ github.event.inputs.environment-name || '' }}
    outputs:
      environment-name: ${{ steps.deployment-config.outputs.environment-name }}
      apex-domain: ${{ steps.deployment-config.outputs.apex-domain }}
      apex-url: ${{ steps.deployment-config.outputs.apex-url }}

  behaviour-test:
    name: 'web behaviour test'
    needs:
      - names
    runs-on: ubuntu-24.04
    container: mcr.microsoft.com/playwright:v1.57.0-jammy
    # Match version number with @playwright/test in package.json with: https://mcr.microsoft.com/en-us/artifact/mar/playwright/tags
    # and extension with ubuntu distribution e.g. https://releases.ubuntu.com/jammy/
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'ci' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm ci --ignore-scripts
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1

      - name: Run behaviour test - ${{ inputs.behaviour-test-suite || 'submitVatBehaviour' }}
        id: behaviour-test
        if: ${{ !cancelled() }}
        run: |
          npm run 'test:${{ inputs.behaviour-test-suite || 'submitVatBehaviour' }}-${{ needs.names.outputs.environment-name }}' || exit_code=$? \
          ; RESULT=${exit_code:-0} \
          ; echo "RESULT=$RESULT" | tee -a "$GITHUB_OUTPUT" \
          ; cp ./target/submit*.log ./target/behaviour-test-results/ || true \
          ; cp ./hmrc-test-user.json ./target/behaviour-test-results/ || true \
          ; exit ${exit_code:-0} \
          ;
        env:
          DIY_SUBMIT_BASE_URL: ${{ needs.names.outputs.apex-url }}
          HMRC_ACCOUNT: sandbox
          HMRC_SANDBOX_CLIENT_SECRET: ${{ secrets.HMRC_SANDBOX_CLIENT_SECRET }}

      - name: Upload artifacts (results)
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: web-test-artifacts-submit-vat-sandbox
          retention-days: 30
          path: |
            target/behaviour-test-results/

      - name: Upload artifacts (reports)
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: web-test-reports-submit-vat-sandbox
          retention-days: 30
          path: |
            target/test-reports/
    outputs:
      result: ${{ steps.behaviour-test.outputs.RESULT }}

  web-test-submit-vat-sandbox-publish-cloudwatch-metric:
    if: ${{ !cancelled() }}
    name: 'web test submit vat sandbox publish cloudwatch metric'
    needs:
      - names
      - behaviour-test
    runs-on: ubuntu-24.04
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'ci' }}
    steps:
      - name: Configure AWS role via GitHub OIDC
        if: ${{ !cancelled() }}
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.ACTIONS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-chaining: false
          audience: sts.amazonaws.com
          role-skip-session-tagging: true
          output-credentials: true
          retry-max-attempts: 3

      - name: Assume AWS deployment role
        if: ${{ !cancelled() }}
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.DEPLOY_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-chaining: true
          audience: sts.amazonaws.com
          role-skip-session-tagging: true
          output-credentials: true
          retry-max-attempts: 3

      - name: publish cloudwatch metric
        run: |
          aws cloudwatch put-metric-data \
            --namespace "${{ needs.names.outputs.apex-domain }}" \
            --metric-name "behaviour-test" \
            --dimensions env=${{ needs.names.outputs.deployment-name }},test=${{ inputs.behaviour-test-suite || 'submitVatBehaviour' }} \
            --value ${{ needs.behaviour-test.outputs.result }} \
            --region ${{ env.AWS_REGION }}
